
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
h1 {
    color: #333;
    text-align: center; /* Center aligns the h1 */
    margin-bottom: 20px; /* Adds space below the h1 */
}

h2 a {
    color: #007BFF; /* Sets the link color */
    text-decoration: none; /* Removes underline from the link */
}

h2 a:hover {
    text-decoration: underline; /* Underline the link on hover */
}
form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: calc(100% - 20px); /* Adjusted width to account for padding */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
