<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta id="apaga" http-equiv="refresh" />
    <title>Adicionar Aluno</title>
    <link rel="stylesheet" href="addUser.css">
</head>
<body>
<h1>Adicionar Aluno</h1>
<center><h2><a href="../"> Voltar para trás</a></h2></center>
<div id="ola" th:inline="text"><span th:remove="tag" sec:authentication="authorities">thymeleaf</span></div>
<form action="#" th:action="@{/addAluno}" th:object="${Aluno}" method="post">
    <div>
        <label id="l8" for="i8">Nome:</label>
        <input id="i8" required type="text" th:field="*{nome}" />
    </div>
    <div>
        <label id="l7" for="i7">Email:</label>
        <input id="i7" required type="email"  th:field="*{email}" />
    </div>
    <div>
        <label id="l6" for="i6">Idade:</label>
        <input id="i6" required type="number"  th:field="*{idade}" />
    </div>
    <div>
        <label id="l5" for="i5">Curso:</label>
        <input id="i5" required type="text" th:field="*{curso}" />
    </div>
    <div>
        <label id="l4" for="i4">Morada:</label>
        <input id="i4" required type="text" th:field="*{morada}" />
    </div>
    <div>
        <label id="l3" for="i3">Telefone:</label>
        <input id="i3" required type="tel" th:field="*{telefone}" />
    </div>
    <div>
        <label for="nota">Nota:</label>
        <input required type="number" id="nota" th:field="*{nota}" />
    </div>
    <div>
        <label id="d2" for="i2">Ano:</label>
        <input id="i2" required type="number" th:field="*{ano}" />
    </div>
    <div>
        <label id="d1" for="i1">Password:</label>
        <input id="i1" required type="text" th:field="*{password}" />
    </div>
    <div>
        <button type="submit">Adicionar Aluno</button>
    </div>
</form>
</body>
<script>
    x = document.getElementById("ola").textContent;
    document.getElementById("ola").style.display = "none";
    console.log(x);
    if(x == "[ROLE_ALUNO]"){
        document.getElementById("apaga").content = "0; url=../";
    }
</script>
</html>