<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adicionar Aluno</title>
</head>
<body>
<h1>Adicionar Aluno</h1>
<h2><a href="../../../../../../../../.."> Voltar para trás</a></h2>
<form action="#" th:action="@{/addAluno}" th:object="${Aluno}" method="post">
    <div>
        <label for="nome">Nome:</label>
        <input required type="text" id="nome" th:field="*{nome}" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input required type="email" id="email" th:field="*{email}" />
    </div>
    <div>
        <label for="idade">Idade:</label>
        <input required type="number" id="idade" th:field="*{idade}" />
    </div>
    <div>
        <label for="curso">Curso:</label>
        <input required type="text" id="curso" th:field="*{curso}" />
    </div>
    <div>
        <label for="morada">Morada:</label>
        <input required type="text" id="morada" th:field="*{morada}" />
    </div>
    <div>
        <label for="telefone">Telefone:</label>
        <input required type="tel" id="telefone" th:field="*{telefone}" />
    </div>
    <div>
        <label for="nota">Nota:</label>
        <input required type="number" id="nota" th:field="*{nota}" />
    </div>
    <div>
        <label for="ano">Ano:</label>
        <input required type="number" id="ano" th:field="*{ano}" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input required type="text" id="password" th:field="*{password}" />
    </div>
    <div>
        <button type="submit">Adicionar Aluno</button>
    </div>
</form>
</body>
</html>