<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta id="apaga" http-equiv="refresh" />
    <title>Adicionar Professor</title>
    <link rel="stylesheet" href="addUser.css">
</head>
<body>
<h1>Adicionar Professor</h1>
<center><h2><a href="../../../../../../../../.."> Voltar para trás</a></h2></center>
<div id="ola" th:inline="text"><span th:remove="tag" sec:authentication="authorities">thymeleaf</span></div>
<form action="#" th:action="@{/addProfessor}" th:object="${Professor}" method="post">
    <div>
        <label for="nome">Nome:</label>
        <input required type="text" id="nome" th:field="*{nome}" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input required type="email" id="email" th:field="*{email}" />
    </div>
    <div>
        <label for="morada">Morada:</label>
        <input required type="text" id="morada" th:field="*{morada}" />
    </div>
    <div>
        <label for="telefone">Telefone:</label>
        <input required type="tel" id="telefone" th:field="*{telefone}" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input required type="text" id="password" th:field="*{password}" />
    </div>
    <div>
        <button type="submit">Adicionar Professor</button>
    </div>
</form>
</body>
<script>
    x = document.getElementById("ola").textContent;
    document.getElementById("ola").style.display = "none";
    console.log(x);
    if(x != "[ROLE_ADMINISTRADOR]"){
    document.getElementById("apaga").content = "0; url=../";
    }
</script>
</html>