<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <title>Adicionar Professores a Curso</title>
</head>
<body>
<h1>Adicionar Professores a Curso</h1>
<h2><a href="../../../../../../../../.."> Voltar para trás</a></h2>
<form action="#" th:action="@{/curso/addProfC}" th:object="${Curso}" method="post">
    <div>
        <label for="numeroCurso">ID do curso:</label>
        <input type="number" id="numeroCurso" th:field="*{numeroCurso}" />
    </div>
    <div>
        <label for="ID_professores">Horas:</label>
        <input type="number" id="ID_professores" th:field="*{professor}" />
    </div>
    <div>
        <button type="submit">Adicionar Curso</button>
    </div>
</form>
</body>
</html>