<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Administradores</title>
</head>
<body>
<h1>Lista de Administradores</h1>
<table border="1">
    <thead>
    <tr>
        <th>Número</th>
        <th>Nome</th>
        <th>Morada</th>
        <th>Email</th>
        <th>Telefone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="administrador : ${administradores}">
        <td th:text="${administrador.numeroAdmin}"></td>
        <td th:text="${administrador.nome}"></td>
        <td th:text="${administrador.morada}"></td>
        <td th:text="${administrador.email}"></td>
        <td th:text="${administrador.telefone}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>