<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editar Administrador</title>
</head>
<body>
<h1>Editar Administrador</h1>
<h2><a href="../../../../../../../../.."> Voltar para trás</a></h2>
<form action="#" th:action="@{/editAdministrador}" th:object="${admin}" method="post">
    <input type="hidden" th:field="*{numeroAdmin}" />
    <div>
        <label for="nome">Nome:</label>
        <input required type="text" id="nome" th:field="*{nome}" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input required type="email" id="email" th:field="*{email}" />
    </div>
    <div>
        <label for="morada">Morada:</label>
        <input required type="text" id="morada" th:field="*{morada}" />
    </div>
    <div>
        <label for="telefone">Telefone:</label>
        <input required type="tel" id="telefone" th:field="*{telefone}" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input required type="tel" id="password" th:field="*{password}" />
    </div>
    <div>
        <button type="submit">Guardar</button>
    </div>
</form>
</body>
</html>