<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Escola João Heitor</title>
</head>
<body>
    <h1>Escola de Música João Heitor</h1>
    <ul>
        <li><a href="/admin/addAdministrador">Adicionar Administrador</a></li>
        <li><a href="/admin/administradores">Ver Administradores</a></li>
        <li><a href="/prof/addProfessor">Adicionar Professor</a></li>
        <li><a href="/prof/professores">Ver Professores</a></li>
        <li><a href="/aluno/addAluno">Adicionar Aluno</a></li>
        <li><a href="/aluno/alunos">Ver Alunos</a></li>
        <li><a href="/curso/addCurso">Adicionar Curso</a></li>
        <li><a href="/curso/cursos">Ver Cursos</a></li>
    </ul>
</body>
</html>