<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Escola João Heitor</title>
</head>
<body>
    <h1>Escola de Música João Heitor</h1>
    <ul>
        <li><a href="/addAdministrador">Adicionar Administrador</a></li>
        <li><a href="/administradores">Ver Administradores</a></li>
        <li><a href="/addProfessor">Adicionar Professor</a></li>
        <li><a href="/professores">Ver Professores</a></li>
        <li><a href="/addAluno">Adicionar Aluno</a></li>
        <li><a href="/alunos">Ver Alunos</a></li>
        <li><a href="/addCurso">Adicionar Curso</a></li>
        <li><a href="/cursos">Ver Cursos</a></li>
        <li><a href="/informacoes">Ver informacoes sobre a escola</a></li>
    </ul>
</body>
</html>