<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Quantos alunos totais?</h2><br>
Total de Alunos: <span th:text="${totalAlunos}"></span><br>
<h2>Quantos professores totais?</h2><br>
Total de Professores: <span th:text="${totalProfs}"></span><br>
<h2>Quantos cursos totais?</h2><br>
Total de Cursos: <span th:text="${totalCursos}"></span><br>
<h2>Qual o curso com mais alunos inscritos?</h2><br>
<h2>Quais os cursos em funcionamento?</h2><br>
<h2>Qual o curso com maior número de horas?</h2><br>
<h2>Qual o curso com mais aprovações?</h2><br>
<h2>Qual a idade média dos alunos que frequentam um dado curso?</h2><br>
<h2>Qual a proveniência geográfica dos alunos da escola?</h2><br>

</body>
</html>